<nav class="navbar navbar-dark navbar-expand-lg bg-wtw fixed-top">
  <a class="navbar-brand text-uppercase" href="#">
    <img src="../../../assets/wtw_logo_hrz_rgb_wht.png" width="300" class="d-inline-block" alt="">
    Quick Search Tool
  </a>

  <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>-->

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="./search">Search</a>
      </li>
    </ul>
  </div>
</nav>
