<app-layout>
  <div class="jumbotron">
    <h1>Resolver Group Search</h1>
    <p>
      In this tutorial you learn how to use Angular CLI v6 with Bootstrap and FontAwesome!
    </p>
  </div>
</app-layout>

<table matSort (matSortChange)="sortData($event)" class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th mat-sort-header="name">Dessert (100g)</th>
      <th mat-sort-header="calories">Calories</th>
      <th mat-sort-header="fat">Fat (g)</th>
      <th mat-sort-header="carbs">Carbs (g)</th>
      <th mat-sort-header="protein">Protein (g)</th>
    </tr>
  </thead>

  <tr *ngFor="let dessert of sortedData">
    <td>{{dessert.name}}</td>
    <td>{{dessert.calories}}</td>
    <td>{{dessert.fat}}</td>
    <td>{{dessert.carbs}}</td>
    <td>{{dessert.protein}}</td>
  </tr>
</table>