

<form class="search-form">
  <div class="form-group">
    <mat-button-toggle-group name="searchType" aria-label="Search Type">
      <mat-button-toggle value="1">Resolver</mat-button-toggle>
      <mat-button-toggle value="2">Application</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search" class="form-control">
    </mat-form-field>
    </div>

</form>

<table matSort (matSortChange)="sortData($event)" class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th mat-sort-header="resolverDescription">Description</th>
      <th mat-sort-header="contactName">Contact</th>
      <th mat-sort-header="resolverGroupName">Resolver Group</th>
    </tr>
  </thead>

  <tr *ngFor="let resolverGroup of resolverGroups | async">
    <td>{{resolverGroup.resolverDescription}}</td>
    <td>{{resolverGroup.contactName}}</td>
    <td>{{resolverGroup.resolverGroupName}}</td>
  </tr>
</table>
